.index {
  .title {
    height: 60px;
    line-height: 60px;
    background: #ccc;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  .btn-question {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;

  }
}